.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.85);
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 48px;
  color: white;
  cursor: pointer;
}

.image {
  max-width: 700px;
}
