body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #24c6dc;
  background: linear-gradient(to right, #514a9d, #24c6dc);
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
